{{> header}}

{{#> main-content}}
    {{#*inline "content"}}
        <h1>Cabin Page</h1>
    {{/inline}}
{{/main-content}}

{{> footer}}

{{#> scripts-block}}
    {{#*inline "script-files"}}{{/inline}}
{{/scripts-block}}
